.restaurentImage {
  width: 350px;
  height: 248px;
  border-radius: 0.8rem;
  object-fit: cover;
}

.container80center {
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainerrelative {
  position: relative;
}

.cardbody {
  width: 100%;
}

.restaurentTitle {
  font-size: 20px;
  font-weight: 600;
}

.restaurentDesc {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 17px;
  line-height: 2.4rem;
  color: rgb(79, 79, 79);
  margin: 0px 0px 0.4rem;
  overflow: hidden;
}

.noshadow {
  box-shadow: none !important;
}

.detailscontainer {
  span {
    color: #666666;
  }
}

.bigdot {
  font-weight: 700;
  font-size: 20px;
}

.imagetag {
  position: absolute;
  bottom: 15px;
  font-size: 15px;
  left: 0px;
  border-radius: 0px 4px 4px 0px;
  padding: 2px 6px 2px 3px;
  background: #ff092a;
  color: white;
}

.reviewscontainer {
  display: flex;
  align-items: center;
}
.reviewtext {
  margin-left: 8px;
  color: #666666;
  font-size: 12px;
}

.offertextt {
  border-top: 1px solid rgba(211, 211, 211, 0.383);
  color: #a10808;
  font-size: 13px;
  font-weight: 600;
}

.headercontainer {
  height: auto;
  background: #171a29;
  width: 100vw;
  margin: auto;
}

.imageContainerrestaurent {
  img {
    width: 254px;
    height: 165px;
    object-fit: cover;
  }
}

.mainName {
  font-size: 32px;
  font-weight: 300;
  color: white;
}

.descres {
  color: white;
  font-size: 15px;
}

.ratingTextrest {
  font-size: 24px;
}

.ratingContainer {
  color: white;
  display: inline-flex !important;
  border: 1.5px solid white;
  border-radius: 9px;
  position: relative;
}

.ratingcountres {
  position: absolute;
  border: 2px solid white;
  right: -12px;
  top: -8px;
  font-weight: 700;
  padding: 2px;
  font-size: 11px;
  background: #171a29;
  width: 23px;
  height: 23px;
  border-radius: 40px;
}

.offerstext {
  position: absolute;
  left: -21px;
  top: -16px;
  background: #171a29;
}

.restaurentbody {
  width: 100%;
  // background: red;
}

.descriptionText {
  color: #686b78;
}

.orderitemcontainer {
  border-bottom: 0.5px solid #d4d5d9;
}

.imageContainerRelative {
  position: relative;
  height: 108px;
  border-radius: 6px;
  width: 128px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }
}

.eachItemLeft {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  display: block;
  font-size: 15px;
  color: #282c3f;
  padding-top: 5px;
  font-weight: 400;
}

.leftItemsContainer {
  div {
    text-align: right;
  }
}

.coreContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.absolutelist {
  position: absolute;
  top: 20px;
  left: 8px;
}

.leftbar {
  flex: 1;
  height: 100vh;
  border-right: 0.5px solid rgb(211, 211, 211);
  margin-right: 5px;
  // padding-right: 4px;
}

.cursorpointer {
  cursor: pointer;
}

.middlebar {
  flex: 2;
  max-height: calc(100% - 150px);
  height: 100vh;
  overflow-y: scroll;
  box-sizing: border-box;
}

.rightbar {
  flex: 1;
}

.addBtnContainer {
  position: absolute;
  border-radius: 5px;
  bottom: -12%;
  left: 18%;
  padding: 2px 20px;
  border: 0.5px solid rgba(211, 211, 211, 0.753);
  background: white;
}

.pluss {
  font-size: 18px;
  color: rgb(0, 207, 0);
}

.selectedListItem {
  color: #ff092a;
  border-right: 5px solid #ff092a;
  font-weight: 700;
}

.vegCenter {
  width: 10px;
  height: 10px;
  background: green;
  border-radius: 49%;
}

.vegOutline {
  border: 1px solid green;
  padding: 2px;
}

.discountLabelDiv {
  background: rgba(241, 26, 69, 0.22);
  border-left: 2px solid #f11a45;
  padding-left: 3px;
}

.crimsontext {
  color: crimson;
}

.orderitemname {
  font-size: 16px;
  font-weight: 600;
}

.offerDiv {
  width: 290px;
  color: white;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainholder {
  max-width: 85%;
}

.max350 {
  max-width: 350px;
}

.textCart {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.cartParent {
  position: relative;
}

.width350 {
  width: 350px;
}

.cartItemName {
  color: #282c3f;
  font-size: 15px;
}

@media only screen and (max-width: 800px) {
  .rightbar {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .container80center {
    max-width: 100%;
    width: 100%;
  }

  .middlebar {
    overflow-y: hidden;
    height: auto;
  }

  .mainholder {
    max-width: 100% !important;
  }

  .leftbar {
    display: none;
  }

  .rightbar {
    display: none;
  }

  .offerDiv {
    display: none !important;
  }
}

.allcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
